.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
	margin-bottom: 10vmin;
}

.App-header {
	background-color: #4dabf5;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Link-styles {
	text-decoration: none;
	color: white;
}
